html, body {
	position: relative;
	width: 100%;
	height: 100%;
	accent-color: var(--font-color);
}

body {
	color: var(--font-color);
	background: var(--section-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--font-color);
	background-color: var(--section-color);
	outline: none;
	margin: 0;
	border: 1px solid var(--font-color);
	border-radius: var(--border-radius);
	font-size: 12px;
	padding: 6px 24px;
	min-width: 120px;
}

button:hover {
	cursor: pointer;
	background-color: var(--hightlight-color);
	color: var(--section-color);
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
	background-color: var(--hightlight-color);
}

h4 {
	color: var(--font-color);
	text-align: center;
	padding: 6px;
	margin: 0 0 12px 0;
	border-bottom: 3px solid var(--font-color);
}

/* CUSTOM CSS FOR MAPTILAZ */
.main-app {
	display: grid;
	min-height: 100vh;
  max-height: 100vh;
	grid-template-rows: auto 1fr auto;
}

h1 {
	margin: 0;
}

input[type=number] {
	width: 80px;
	height: 1.2rem;
	background: transparent;
	color: var(--font-color);
	border: 1px solid var(--font-color);
	border-radius: var(--border-radius);
}

input[type=file] {
	margin: 0;
	height: 25px;
	padding: 0;
	border: none;
	width: 22ch;
}

label {
	font-size: 0.8rem;
}

.flex-24 {
	display: flex;
	gap: 24px;
	align-items: center;
}

.import-btn {
	color: var(--font-color);
	background-color: var(--section-color);
	outline: none;
	padding: 6px;
	border: 1px solid var(--font-color);
	font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
	border-radius: var(--border-radius);
}

.import-btn:hover {
  cursor: pointer;
  background: var(--hightlight-color);
	color: var(--section-color);
}