<script>
	'use strict'

  import GridSize from './GridSize.svelte';
	import GridGap from './GridGap.svelte';
	import TileSize from './TileSize.svelte';
</script>


<GridSize></GridSize>
<GridGap></GridGap>
<TileSize></TileSize>
